:root {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    color: #262626;
}

.content {
    padding: 2rem;
    max-width: 700px;
}

h1, h2, p {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 3em;
    margin-top: 0;
}

h2 {
    font-size: 2em;
    margin: 1.4em 0;
}

p {
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.6;
}

a {
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    vertical-align: bottom;
    transition: color .3s ease-out;
}

a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(80%));
    width: 100%;
    height: 100%;
    background-color: #bfdbfe;
    transition: transform 0.2s ease-out;
}

a:hover::before {
    transform: translateY(0);
    transition: transform 0.2s ease-out;
}

@media screen and (min-width: 800px) {

    :root {
        font-size: 16px;
    }

    .content {
        margin-top: 8rem;
        margin-inline: 10rem;
    }
}